<html lang="en">
<script type="text/javascript" src="..\scripts\javascript.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="..\styles\landing.css">
</head>
<body>
    <div class="app-wrap">
        <header>
            <div class="topnav">
                <a href=".\landing.html">Home</a>
                <a href=".\login.html">Login</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                
            </div>
            <select name="kana" id="kanaSelect" style="margin-left:40px">
                <option value="hiragana">Hiragana</option>
                <option value="katakana">Katakana</option>
                <option value="kana">Both</option>
            </select>
        </header>
        <main>

            <div class="current">
                <img src="data:," width="100px" height="100px" id="kanaImage">

                <table>
                    <tr>
                      <th>Total: 0</th>
                      <th>Correct: 0</th>
                      <th>Wrong: 0</th>
                    </tr>
                </table>
                <div class="previous">Previous: </div>
                <div class="prev_answer">n/a</div>
                <input type="text" id="answer" name="answer"><br><br>
                <input style="font-size:20px; padding:10px;"
                    type="button" id="start" name="startButton" value="Start" onclick=startQuiz()> 
                <input  style="font-size:20px; padding:10px;"
                    type="button" id="finish" name="finishButton" value="Finish">
            </div>
        </main>
    </div>
    <script src="main.js"></script>
</body>
</html>